/* src/styles/global.css */

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

a:hover {
    background-color: unset;
}

p {
    margin-block-end: 0.5rem;
    margin-block-start: 0.5rem;
}